mixin table
    table(cellpadding="0" cellspacing="0" class!=attributes.class width!=attributes.width)
        tbody
            block

mixin spacer(height)
    td(class="spacer" height=height) &nbsp;

mixin line-spacer(height)
    tr
        td(class="spacer" height=height) &nbsp;

mixin line-content(content)
    tr
        td= content
            
        